.about {
    margin:100px;
    margin-left: 35%;

}
img {
	width: 355px;
	height: 319px;
	border: solid 20px white;
}

.frame {
	border: solid 30px #e6e6e6;
	width: 410px;
	box-shadow: 10px 10px 5px #888888;

}

.aboutme {
	width: 440px;
	text-align: center;
	padding-top: 25px;

}

.aboutme h1 {
	font-family: geotica-w01-four-open,fantasy;
	margin-bottom: 5px;
	font-size: 30px;
}

.aboutme p {
	margin-top: 0;
	font-family: Trebuchet MS;
}