.moreinfo h4 {
	font-size: 17px;
	font-weight: bold;
	font-family: Menlo;
}

.moreinfo p {
	font-weight: 100;
	font-family: sans-serif
}

.description h2 {
	font-size: 27px;
	font-weight: bold;
	text-align: center;
	font-family: Menlo;
}

.description p{
	font-size: 17px;
	font-weight: 100;
	font-family: sans-serif
}

.description {
	padding: 20px;
}

.photo img {
	width: 550px;
	height: 400px;
}

#photo {
	margin-right: 0%
}


.row {
	width: 1300px;
	padding-top: 50px;
	margin-left: 4%
}

hr { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

.projects {
	background-color: #eee; 
}

